body {
    margin: 0;
    padding: 0;
    background-image: url("../images/leaves-pattern.png");
    height: 100%;
    margin: 0;
}

header {
    border-bottom: 2px solid #cccccc;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    z-index: 99;
}

#name {
    float: left;
    width: 30%;
    text-align: center;
    background-color: rgb(128, 118, 173);
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    margin: 0;
    height: 75px;
    line-height: 70px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    padding-top: 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    ;
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-radius: 10px;
}

li a:hover {
    background-color: #C79BB8;
    color: white;
}

.clearfix {
    clear: both;
}

.headerContainer {
    width: 960px;
    margin: auto;
}

.sectionContainer {
    border: 1px solid #dddddd;
    margin: 40px auto;
    width: 940px;
    background-color: #ffffff;
    overflow: auto;
    flex: 1;
    padding: 0px 10px;
}

p {
    margin: 20px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 25px;
}

#subheading {
    margin: 20px;
    padding-bottom: 10px;
    color: rgb(128, 118, 173);
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #dddddd;
}

#jenn {
    width: 20%;
    height: auto;
    float: left;
    margin: 5px 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 10%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #A55C8B;
}

#message {
    height: 200px;
    width: 100%;
}

.image {
    overflow: auto;
}

img {
    height: auto;
    width: 100%;
}

.project {
    width: 40%;
    margin: 20px;
    position: relative;
    float: left;
}

.banner {
    background-color: #0f8ca1;
    color: white;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 15px 0px;
}

.footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    height: 15px;
    border-top: 5px solid rgb(128, 118, 173);
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    padding-top: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.form {
    margin: 20px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
     width: 40%;
    float:left; 
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 5px;
  }

  .fa-github {
    background: #666666;
    color: white;
    width: 40%;
    float: right;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 5px;
  }

/* #linkedIn{
    background-color: #007bb5;
    width: 40%;
    float:left;
}
#gitHub{
    background-color: rgb(170, 170, 170);
    width: 40%;
    float:right;
} */

/*Media Screen Adjustments*/

@media screen and (max-width: 980px) {
    .wrapper {
        width: 100%;
    }
    .headerContainer {
        width: 100%;
    }
    .sectionContainer {
        width: 60%;
        margin: 40px, auto, auto, 40px;
        margin: 20px;
    }
    input[type=submit] {
        width: 100px;
    }
    #name {
        margin-left: 20px;
        font-size: 30px;
    }
    .footer {
        width: 100%;
        margin-right: 0;
    }
    #jenn {
        width: 25%;
    }
    .fa-linkedin {
        float:none;
        margin-left: 0;
      }
    
      .fa-github {
        float:none;
        margin-left: 0;
      }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
    .headerContainer {
        width: 95%;
    }
    .sectionContainer {
        width: 90%;
        margin: 20px;
    }
    .project {
        width: 40%;
    }
    input[type=submit] {
        width: 100px;
    }
    #name {
        font-size: 20px;
        margin-left: 10px;
    }
    #jenn {
        width: 20%;
    }
    .fa-linkedin {
        float:none;
        margin-left: 0;
      }
    
      .fa-github {
        float:none;
        margin-left: 0;
      }
}

@media screen and (max-width: 640px) {
    .wrapper {
        width: 100%;
    }
    header {
        position: static;
        overflow: auto;
    }
    #name {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        font-size: 30px;
        margin-left: 0;
    }
    ul {
        width: 100%;
        text-align: center;
    }
    .headerContainer {
        overflow: auto;
    }
    header {
        position: static;
        height: 150px;
    }
    .sectionContainer {
        width: 90%;
        margin-left: 20px;
    }
    .project {
        width: 90%;
    }
    input[type=submit] {
        width: 100px;
    }
    #jenn {
        width: 30%;
    }
    .fa-linkedin {
        float:none;
        margin-left: 0;
      }
    
      .fa-github {
        float:none;
        margin-left: 0;
      }
    
}